#chat-screen {
  background-color: #a3b8c7;
  height: 300vh;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
  background-color: #a3b8c7;
}

#chat-screen .status-bar {
  z-index: 2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.3s linear;
}

.chat__timestamp {
  background-color: var(--grey);
  color: white;
  border-radius: 25px;
  text-align: center;
  font-size: 14px;
  padding: 15px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 40px;
  height: 40px;
  border-radius: 30%;
  margin-right: 15px;
}

.message__author {
  opacity: 80%;
  font-size: 13px;
  margin-bottom: 10px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 8px 15px;
  border-radius: 10px;
  border-top-left-radius: 0px;
}

.message__info {
  display: flex;
  align-items: end;
}

.message__time {
  opacity: 80%;
  font-size: 13px;
  margin: 0px 10px;
}

.message-row--own {
  justify-content: end;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.message-row--own .message__bubble {
  border-radius: 10px;
  border-top-right-radius: 0px;
  background-color: var(--yellow);
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
}

.reply i {
  opacity: 0.8;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 5px;
  height: 30px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -3px;
  top: 6px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 20px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply__column button i {
  opacity: 1;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-grin {
  opacity: 0;
}

.reply:focus-within input {
  transform: translateX(-10%);
  width: 110%;
}

.reply .reply__column:first-child,
.reply .fa-face-grin {
  transition: opacity 0.3s ease-in-out;
}
