.badge {
  display: flex;
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: rgb(252, 252, 252);
  font-weight: 600;
}

.badge__smallnotification {
  width: 7px;
  height: 7px;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  position: relative;
  top: -25px;
  left: 95px;
}

.badge__smallnotification2 {
  position: relative;
  left: 150px;
  top: -25px;
  width: 7px;
  height: 7px;
  background-color: tomato;
  border-radius: 50%;
}
