.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(252, 252, 252);
  padding: 10px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2f363e;
  position: relative;
}

.nav__notification {
  display: flex;
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: rgb(252, 252, 252);
  font-weight: 600;
  position: absolute;
  left: 20px;
  bottom: 15px;
}

.nav__smallnotification {
  display: flex;
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  color: rgb(252, 252, 252);
  font-weight: 600;
  position: absolute;
  left: 30px;
  bottom: 25px;
}
